
<h2 class="text-2xl font-bold mb-6">Seleccione una región</h2>

<div class="row mt-2">
  <div class="flex-col">
    @for (region of regions; track region) {
      <button class="btn btn-outline mr-2 w-[100px]"
        (click)="selectedRegion.set(region)"
        [class.btn-primary]="selectedRegion() == region"
      >
        {{ region }}
      </button>
    }
  </div>
</div>

<country-list
  [countries]="countryResource.value() ?? []"
  [errorMessage]="countryResource.error()"
  [isEmpty]="countryResource.value()?.length == 0 "
  [isLoading]="countryResource.isLoading()"
/>
